/*body {
  height: 100% !important;
  width: 100% !important;
  background-color: #1D2D58;
}*/
.service-icon {
    width: 50%;
    height: 0;
    padding-top: 48%;
    position: relative;
}

.service-icon svg {
    position: absolute;
    top: 0;
    left: 0;
}


* {
  min-height: 0;
  min-width: 0;
}

@media (max-width: 320px) {
  :root {
    font-size: 12px;
  }
}

/* 12px @ 320px increasing to 14px @ 768px */
@media (min-width: 320px) {
  :root {
    font-size: calc(0.75rem + ((1vw - 3.2px) * 0.4464));
    /* Where: * 0.4464 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 768px) {
  :root {
    font-size: 14px;
  }
}

html {
  font-size: 1rem;
}

body {
  font-family: 'raleway';
  font-weight: 400;
  line-height: 1.45;

  color: #1d2d58;
  margin:0;
}

p {
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
  }

h1, h2, h3, h4 {
  margin: 0;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0 !important;
  font-size: 6.854rem !important;
  font-family: 'cabin';
  font-weight: 600;
}

h2 {
  font-size: 4.236rem;
  font-family: 'cabin';
  font-weight: 600;
}

h3,.bm-item-list {
  font-size: 2.618rem;
  font-family: 'cabin';
  font-weight: 600;
}

h4,.input-placeholder-text {
  font-size: 1.618rem;
  font-weight: 500;
}

.input-placeholder-text {
  font-family: 'raleway';
  line-height: 1.45;
}

small, .font_small {font-size: 0.618em;}

/*
  Menu Styling
*/

/* Background Gradient */

.navmenu {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(75%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

/* Position and sizing of burger button */
@media screen and (max-width:959px){
  .bm-burger-button, .bm-cross-button {
      position: fixed;
      width: 20px;
      height: 18px;
      right: 16px;
      top: 39px;
  }

  #page-content {
    padding-top: 96px;
  }
}

@media screen and (min-width:960px){
  .bm-burger-button, .bm-cross-button {
      position: fixed;
      width: 24px;
      height: 24px;
      right: 32px;
      top: 52px;
  }

  #page-content {
    padding-top: 128px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: #1D2D58;
}

.bm-burger-bars button:hover {
  background-color: #B64F59;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 32px;
  width: 32px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #B64F59;
  width: 4px;
  height: 28px;
}

/* General sidebar styles */
.bm-menu {
  background: #1D2D58;
  text-align: right;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #B64F59;
  margin-top: 96px;
}

.bm-item-list a {
  color: #B64F59;
  text-decoration: none;
}

.bm-item-list #privacy-policy {
    color: rgba(182, 79, 89,0.8);
    font-size: 1.6rem;
    font-family: 'raleway';
    font-weight: 100;
    margin-right: 16px;
    margin-top: 32px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 255, 255, 0.3) !important;
}

/* Background of Body */
#page-wrap {
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#background-overlay {
    max-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}

.background {
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
    z-index: -1;
    position: fixed;
    top: 0;
}

/* Text Colours */

.primaryColour {
  color: #1D2D58;
}

.secondaryColour {
  color: #B64F59;
}

.accent1Colour {
  color: #51A3A3;
}

.accent2Colour {
  color: #EAD94C;
}

.accent3Colour {
  color: #DD7373;
}

.blackColour {
  color: rgba(12,18,35,1);
}

.whiteColour {
  color: rgba(255,255,255,1);
}

/* Animated Background of Placeholder Text */

@-webkit-keyframes placeholderLoading {
 0%{background-position:0% 50%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}
@-moz-keyframes placeholderLoading {
 0%{background-position:0% 50%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}
@-o-keyframes placeholderLoading {
 0%{background-position:0% 50%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}
@keyframes placeholderLoading {
 0%{background-position:0% 50%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}

.phText, .phHeader {
  background: linear-gradient(270deg, #b64f59, #e3bbbf);
  background-size: 400% 400%;

  -webkit-animation: placeholderLoading 2s ease infinite;
  -moz-animation: placeholderLoading 2s ease infinite;
  -o-animation: placeholderLoading 2s ease infinite;
  animation: placeholderLoading 2s ease infinite;
}

/* Preloader Formatting */

#Layer_1 {
  width: 100vw;
  height: 100vh;
}

/* Hide Scrollbar On Slider */

.hero-slider, .hero-container {
  pointer-events: none;
}
/* Centre Text in Slider */

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: row;
  place-content: flex-start flex-start;
  align-items: center;
}

.slick-slider, .slick-slider div, .slick-slider div div {
  height: 100%;
}

/* Alternating Background Patterns for Service Cards */

.card-container .card:nth-child(1n) .service-card-image {
  background-image: url('../assets/img/services/circles.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container .card:nth-child(2n) .service-card-image {
  background-image: url('../assets/img/services/triangles.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container .card:nth-child(3n) .service-card-image {
  background-image: url('../assets/img/services/squares.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container .card:nth-child(4n) .service-card-image {
  background-image: url('../assets/img/services/half-circles.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/** Potential Page Transitions **/

.page-enter, .page-leave {
  position: absolute;
  -webkit-transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.page-enter {
  left: 100vw;
  opacity: 0;
}

.page-enter.page-enter-active {
  -webkit-transform: translate3d(-100vw, 0, 0);
  transform: translate3d(-100vw, 0, 0);
  opacity: 1;
}

.page-leave {
  left: 0;
  opacity: 1;
}

.page-leave.page-leave-active {
  -webkit-transform: translate3d(-100vw, 0, 0);
  transform: translate3d(-100vw, 0, 0);
  opacity: 0;
}

.container {
  overflow-x: auto !important;
  width: 100vw;
}

.card-container::-webkit-scrollbar, .text-content .input-placeholder-text::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 540px) {
  .card-container .card:last-child, .card-container .team-member:last-child {
    padding-right: 40px;
  }
}

@media screen and (min-width: 541px) and (max-width: 959px) {
  .card-container .card:last-child, .card-container .team-member:last-child {
    padding-right: calc(100vw - 632px);
  }
}

@media screen and (min-width: 960px) {
  .card-container .card:last-child, .card-container .team-member:last-child {
    padding-right: calc(100vw - 664px);
  }
}

.cms-content h4 strong {
  color: #1D2D58;
}

.cms-content h4 {
  color: #B64F59;
  padding: 0.5em 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B64F59;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #B64F59;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #B64F59;
}
:-moz-placeholder { /* Firefox 18- */
  color: #B64F59;
}

/*.cookieConsent {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}*/
